.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;
}

@media screen and (max-width: 979px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: -5px;
  }
}