.profile__description {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: description;
}

@media screen and (max-width: 979px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: -5px;
  }
}