.element__like {
  min-width: 22px;
  height: 19px;
  border: none;
  background: url("../../../images/like-icon.svg") no-repeat center;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
