.header {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  transition: 0.5s;
}

@media screen and (max-width: 979px) {
  .header {
    min-height: 56px;
    padding: 14px 0 14px 27px;
  }
}