.header {
  min-height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-top: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  transition: 0.5s;
}

@media screen and (max-width: 979px) {
  .header {
    min-height: 56px;
    padding: 28px 0 0 27px;
  }
}